body {
    background-color: #D3D3D3;
}

#main {
    padding: 20px;
    background-color: white;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}

#main h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #09736A;
}

a:hover {
    color: #15AB89;
}